@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow:wght@400;500;600&family=JetBrains+Mono:wght@400;600;700&display=swap');

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Barlow', sans-serif;
  background: #F2F2F2;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.board {
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* 80% / 20% */
  flex: 1;
  min-height: 0;
  margin-inline: 20px;
}

.notes-area {
  position: relative;
  min-width: 0;
}

.empty-hint {
  pointer-events: none;
}

.delete-zone {
  height: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ddd;
  background-color: #e56b8f21;
}

.sticky-note {
  position: absolute;
  padding: 12px;
  box-sizing: border-box;
  border-bottom-right-radius: 60px 20px;
}

.resize-handle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  cursor: nwse-resize;
  border-bottom-right-radius: 60px 20px;
}

.note {
  padding: 12px;
  border: none;
  box-sizing: border-box;
  resize: none;
  outline: none;
}

.note:focus {
  border: transparent;
}

.note-handle:hover {
  cursor: grab;
}

.brute-card {
  border: 3px solid #0A0A0A;
  box-shadow: 5px 5px 0px #0A0A0A;
  background: #C4B5FD;
  padding: 20px;
  margin-inline: 20px;
}